<ion-header>
  <ion-toolbar>
    <ion-title>
      Playing page
      <ion-button>
        <fa-icon [icon]="faPlay"></fa-icon>
      </ion-button>
      <ion-button>
        <fa-icon [icon]="faStop"></fa-icon>
      </ion-button>
      <ion-button>
        <fa-icon [icon]="faArrowsAltV" size="2x"></fa-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner 
      color="primary"
      *ngIf="boardBusy"
    ></ion-spinner>
    <loloof64-chessboard 
      [size]="boardSize"
      [reversed]="reversed"
      (gotReady)="hideLoader()"
      (gotBusy)="showLoader()"
      #chessBoard
    ></loloof64-chessboard>
</ion-content>
