ion-spinner {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    z-index: 10;
}

loloof64-chessboard {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

loloof64-chesshistory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.actionButton {
    color: white;
}