<ion-header>
  <ion-toolbar>
    <ion-title>
      Game page
      <ion-button (click)="reverseBoard()">
        <fa-icon [icon]="faArrowsAltV" size="2x"></fa-icon>
      </ion-button>
      <ion-button (click)="processRestartGameRequest()">
        <fa-icon [icon]="faPlay"></fa-icon>
      </ion-button>
      <ion-button (click)="processStopGameRequest()">
        <fa-icon [icon]="faStop"></fa-icon>
      </ion-button>
      <ion-button (click)="toggleHistoryVisibility()">
        <div *ngIf="historyActive;then showChess;else showHistory"></div>
        <ng-template #showChess>
          <fa-icon [icon]="faChessBoard" size="2x"></fa-icon>
        </ng-template>
        <ng-template #showHistory>
          <fa-icon [icon]="faHistory" size="2x"></fa-icon>
        </ng-template>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner 
      color="primary"
      *ngIf="boardBusy"
    ></ion-spinner>
    <loloof64-chesshistory
      [width]="boardSize"
      [height]="boardSize"
      (requestBoardFen)="sendRequestBoardFen($event)"
      #chessHistory
    >
    </loloof64-chesshistory
    >
    <loloof64-chessboard 
      [style.visibility]="historyActive ? 'collapse' : 'visible'"
      [size]="boardSize"
      [reversed]="reversed"
      (gotReady)="hideLoader()"
      (gotBusy)="showLoader()"
      (gameFinished)="updateGameFinished()"
      (moveSanProduced)="addMoveSanToHistory($event)"
      (gameStarted)="addFirstMoveNumber($event)"
      #chessBoard
    ></loloof64-chessboard>
</ion-content>
