
<ng-container>
  <div class="board-root" #root>
    <ng-container>
      <div class="empty-zone"></div>
      <div 
        class="coord"
        *ngFor="let col of [0,1,2,3,4,5,6,7]"
        [style.font-size.px]="coordinateFontSize()"
      >{{fileCoordinate(col)}}</div>
      <div class="empty-zone"></div>
    </ng-container>
  
    <ng-container *ngFor="let row of [0,1,2,3,4,5,6,7]">
      <div 
        class="coord"
        [style.font-size.px]="coordinateFontSize()"
      >{{rankCoordinate(row)}}</div>
      <loloof64-chessboard-cell 
        *ngFor="let col of [0,1,2,3,4,5,6,7]" 
        [file]="getFile(col)"
        [rank]="getRank(row)"
        [value]="getPieceValue(col, row)"
        [dndHighlight]="isDndHighlighted(col, row)"
        [dndHovering]="isDndHoveringCell(col, row)"
      >
      </loloof64-chessboard-cell>
      <div 
        class="coord"
        [style.font-size.px]="coordinateFontSize()"
      >{{rankCoordinate(row)}}</div>
    </ng-container>
  
    <ng-container>
      <div class="empty-zone"></div>
      <div 
        class="coord" 
        *ngFor="let col of [0,1,2,3,4,5,6,7]"
        [style.font-size.px]="coordinateFontSize()"
        
      >{{fileCoordinate(col)}}</div>
      <div class="empty-zone">
        <div [class]="turnClass()"></div>
      </div>
    </ng-container>

  </div>

  <div
    *ngIf="dndHasStarted()"
    class="dndGuideLine"
    #horizontalGuide
  ></div>
  <div
    *ngIf="dndHasStarted()"
    class="dndGuideLine"
    #verticalGuide
  ></div>

  <img
    *ngIf="dndHasStarted()"
    [src]="dndPieceImageSrc()"
    class="dnd-piece"
    #dndPiece
  />

  <ng-container *ngFor="let row of [0,1,2,3,4,5,6,7]">
      <ng-container *ngFor="let col of [0,1,2,3,4,5,6,7]">
        <img 
          *ngIf="mustShowPiece(row, col)" 
          [src]="getPiecePath(row, col)"
          class="cellImage"
          [width]="getCellImagesSize()"
          [height]="getCellImagesSize()"
          [style.left.px]="getCellImageLeft(col)"
          [style.top.px]="getCellImageTop(row)"
        />
    </ng-container>
  </ng-container>

  <div
    *ngIf="mustShowLastMove()"
    class="lastMoveArrow"
    #lastMoveBaseLine
  >
  </div>
  <div
    *ngIf="mustShowLastMove()"
    class="lastMoveArrow"
    #lastMoveArrow1
  >
  </div>
  <div
    *ngIf="mustShowLastMove()"
    class="lastMoveArrow"
    #lastMoveArrow2
  >
  </div>
  <div
    *ngIf="mustShowLastMove()"
    class="lastMoveArrow"
    #lastMovePoint
  >
  </div>
  
  <div #click_zone class="click-zone"
    (touchstart)="dragStart($event)"
    (touchend)="dragEnd($event)"
    (touchmove)="dragMove($event)"
  ></div>
</ng-container>