@import '../loloof64-chessboard-mixins';

.white-cell {
    @include standard-cell();
    background-color: rgb(192, 158, 48);
}

.black-cell {
    @include standard-cell();
    background-color: rgb(100, 35, 0);
}

.dnd-start-cell {
    @include standard-cell();
    background-color: rgb(41, 187, 48);
}

.dnd-end-cell {
    @include standard-cell();
    background-color: rgb(87, 93, 201);
}
  